.ns-topleft {top: 30px; left: 30px;}
.ns-topright {top: 30px; right: 30px;}
.ns-bottomleft {bottom: 30px; left: 30px;}
.ns-bottomright {bottom: 30px; right: 30px;}

@media screen and (max-width: 25em) {
    .ns-box {max-width: none;}
    .ns-topleft {top: 10px; left: 10px; right:10px;}
    .ns-topright {top: 10px; left: 10px; right:10px;}
    .ns-bottomleft {bottom: 10px; left: 10px; right:10px;}
    .ns-bottomright {bottom: 10px; left: 10px; right:10px;}
}