.ns-type-notice {background: rgba(91, 192, 222, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-warning {background: rgba(240, 173, 78, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-error {background: rgba(217, 83, 79, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-success {background: rgba(92, 184, 92, 0.95); color: rgba(255,255,255,0.95);}

.ns-type-notice .ns-close::before, .ns-type-notice .ns-close::after {background: #fff;}
.ns-type-warning .ns-close::before, .ns-type-warning .ns-close::after {background: #fff;}
.ns-type-error .ns-close::before, .ns-type-error .ns-close::after {background: #0f0;}
.ns-type-success .ns-close::before, .ns-type-success .ns-close::after {background: #fff;}

.ns-box {position: fixed; padding: 15px 19px; line-height: 1.4; z-index: 1000; max-width:280px; box-sizing:border-box; pointer-events: none; font-size: 14px !important; font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif; box-shadow: inset 4.5em 0 rgba(0,0,0,0.6);}
.ns-box a { text-decoration: underline; }
.ns-box.ns-show {pointer-events: auto;}
.ns-box .ns-content a {color: inherit; opacity: 0.7; font-weight: 700; }
.ns-box .ns-content a:hover, .ns-box .ns-content a:focus {opacity: 1;}
.ns-box p {margin: 0; line-height: 1.3; padding:0 0 0 54px; font-size:90%;}
.ns-box img {position: absolute; display: block; opacity: 1; top: 50%; left: 5px; -webkit-transform: translate3d(0,-50%,0); transform: translate3d(0,-50%,0); width:54px;}
.ns-box.ns-show, .ns-box.ns-visible {pointer-events: auto;}
.ns-close {width: 20px; height: 20px; position: absolute; right: 4px; top: 4px; overflow: hidden; text-indent: 100%; cursor: pointer; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.ns-close:hover, .ns-close:focus {outline: none;}
.ns-close::before, .ns-close::after {content: ''; position: absolute; width: 3px; height: 60%; top: 50%; left: 50%; opacity: 0.7; }
.ns-close:hover::before, .ns-close:hover::after {opacity: 1;}
.ns-close::before {-webkit-transform: translate(-50%,-50%) rotate(45deg); transform: translate(-50%,-50%) rotate(45deg);}
.ns-close::after {-webkit-transform: translate(-50%,-50%) rotate(-45deg); transform: translate(-50%,-50%) rotate(-45deg);}
[class^="ns-effect-"].ns-other.ns-hide, [class*=" ns-effect-"].ns-other.ns-hide {-webkit-animation-direction: reverse; animation-direction: reverse;}
.ns-effect-boxspinner .ns-box-inner, .ns-effect-boxspinner .ns-close {opacity: 0;}
.ns-effect-boxspinner.ns-show {
	-webkit-animation-name: animFade, animSpin, animExpand;	animation-name: animFade, animSpin, animExpand;
	-webkit-animation-duration: 0.9s, 1.2s, 0.3s; animation-duration: 0.9s, 1.2s, 0.3s;
	-webkit-animation-delay: 0s, 0s, 2.4s; animation-delay: 0s, 0s, 2.4s;
	-webkit-animation-iteration-count: 1, 2, 1;	animation-iteration-count: 1, 2, 1;
	-webkit-animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1); animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-animation-fill-mode: forwards, forwards, both; animation-fill-mode: forwards, forwards, both;
}
.ns-effect-boxspinner .ns-box-inner {backface-visibility: hidden;}
.ns-effect-boxspinner.ns-show .ns-box-inner, .ns-effect-boxspinner.ns-show .ns-close, .ns-effect-boxspinner.ns-hide {
	-webkit-animation-name: animFade; animation-name: animFade; -webkit-animation-duration: 0.3s; animation-duration: 0.3s;}
.ns-effect-boxspinner.ns-show .ns-box-inner, .ns-effect-boxspinner.ns-show .ns-close {
	opacity: 0; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-delay: 2.75s; animation-delay: 2.75s;}
.ns-effect-boxspinner.ns-hide {opacity: 1;}
@-webkit-keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); width: 70px; height: 70px; }
	50% { -webkit-transform: perspective(120px) rotateY(180deg); }
	100% { -webkit-transform: perspective(120px); width: 70px; height: 90px; }
}

@keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); transform: perspective(120px) rotateY(181deg) rotateX(181deg); width: 70px; height: 70px;}
	50% { -webkit-transform: perspective(120px) rotateY(180deg); transform: perspective(120px) rotateY(181deg); }
	100% { -webkit-transform: perspective(120px); transform: perspective(120px); width: 70px; height: 90px; }
}

@-webkit-keyframes animExpand {
	0% { width: 70px; height: 70px; }
	99% { width: 280px; height: 90px; }
	100% { width: 280px; height: auto; min-height: 90px; }
}

@keyframes animExpand {
	0% { width: 70px; height: 70px; }
	99% { width: 280px; height: 90px; }
	100% { width: 280px; height: auto; min-height: 90px; }
}

.ns-topleft {top: 30px; left: 30px;}
.ns-topright {top: 30px; right: 30px;}
.ns-bottomleft {bottom: 30px; left: 30px;}
.ns-bottomright {bottom: 30px; right: 30px;}

@media screen and (max-width: 25em) {
	.ns-topleft {top: 10px; left: 10px;}
	.ns-topright {top: 10px; right: 10px;}
	.ns-bottomleft {bottom: 10px; left: 10px;}
	.ns-bottomright {bottom: 10px; right: 10px;}
}