.ns-type-notice {background: rgba(91, 192, 222, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-warning {background: rgba(240, 173, 78, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-error {background: rgba(217, 83, 79, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-success {background: rgba(92, 184, 92, 0.95); color: rgba(255,255,255,0.95);}

.ns-type-notice .ns-close::before, .ns-type-notice .ns-close::after {background: #fff;}
.ns-type-warning .ns-close::before, .ns-type-warning .ns-close::after {background: #fff;}
.ns-type-error .ns-close::before, .ns-type-error .ns-close::after {background: #fff;}
.ns-type-success .ns-close::before, .ns-type-success .ns-close::after {background: #fff;}

.ns-box {position: fixed; padding: 22px; line-height: 1.4; z-index: 1000; max-width:300px; pointer-events: none; font-size: 14px !important; font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif; border-radius: 5px; box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);}
.ns-box.ns-show {pointer-events: auto;}
.ns-box a {color: inherit; opacity: 0.7; font-weight: 700;}
.ns-box a:hover, .ns-box a:focus {opacity: 1;}
.ns-box p {margin: 0; line-height: 1.3;}
.ns-box img {float:left; padding-right:5px; width: 64px;}
.ns-box.ns-show, .ns-box.ns-visible {pointer-events: auto;}
.ns-close {width: 20px; height: 20px; position: absolute; right: 4px; top: 4px; overflow: hidden; text-indent: 100%; cursor: pointer; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.ns-close:hover, .ns-close:focus {outline: none;}
.ns-close::before, .ns-close::after {content: ''; position: absolute; width: 3px; height: 60%; top: 50%; left: 50%; opacity: 0.7; }
.ns-close:hover::before, .ns-close:hover::after {opacity: 1;}
.ns-close::before {-webkit-transform: translate(-50%,-50%) rotate(45deg); transform: translate(-50%,-50%) rotate(45deg);}
.ns-close::after {-webkit-transform: translate(-50%,-50%) rotate(-45deg); transform: translate(-50%,-50%) rotate(-45deg);}
[class^="ns-effect-"].ns-box.ns-hide, [class*=" ns-effect-"].ns-box.ns-hide {-webkit-animation-direction: reverse; animation-direction: reverse;}
.ns-effect-bouncyflip.ns-show,.ns-effect-bouncyflip.ns-hide {-webkit-animation-name: flipInX; animation-name: flipInX; -webkit-animation-duration: 0.8s; animation-duration: 0.8s;}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
        -webkit-transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
        -webkit-transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
        -webkit-transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
    }
}
@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
        transform: perspective(400px) rotate3d(1,0,0,-90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
        transform: perspective(400px) rotate3d(1,0,0,20deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
        transform: perspective(400px) rotate3d(1,0,0,-10deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
        transform: perspective(400px) rotate3d(1,0,0,5deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
.ns-effect-bouncyflip.ns-hide {
    -webkit-animation-name: flipInXSimple;
    animation-name: flipInXSimple;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes flipInXSimple {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}

@keyframes flipInXSimple {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg); 
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.ns-topleft {top: 10px; left: 10px;}
.ns-topright {top: 10px; right: 10px;}
.ns-bottomleft {bottom: 0; left: 10px;}
.ns-bottomright {bottom: 0; right: 10px;}

@media screen and (max-width: 25em) {
    .ns-box {max-width: none;}
    .ns-topleft {right:10px;}
    .ns-topright {left: 10px;}
    .ns-bottomleft {right:10px;}
    .ns-bottomright {left: 10px;}
}
