.ns-type-notice {background: rgba(91, 192, 222, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-warning {background: rgba(240, 173, 78, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-error {background: rgba(217, 83, 79, 0.95); color: rgba(255,255,255,0.95);}
.ns-type-success {background: rgba(92, 184, 92, 0.95); color: rgba(255,255,255,0.95);}

.ns-type-notice .ns-close::before, .ns-type-notice .ns-close::after {background: #fff;}
.ns-type-warning .ns-close::before, .ns-type-warning .ns-close::after {background: #fff;}
.ns-type-error .ns-close::before, .ns-type-error .ns-close::after {background: #fff;}
.ns-type-success .ns-close::before, .ns-type-success .ns-close::after {background: #fff;}

.ns-box {position: fixed; padding: 22px; line-height: 1.4; z-index: 1000; max-width: 300px; pointer-events: none; font-size: 14px !important; font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif; border-radius: 5px; box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);}
.ns-box.ns-show {pointer-events: auto;}
.ns-box a {color: inherit; opacity: 0.7; font-weight: 700;}
.ns-box a:hover, .ns-box a:focus {opacity: 1;}
.ns-box p {margin: 0; line-height: 1.3;}
.ns-box img {float:left; padding-right:5px; width: 64px;}
.ns-box.ns-show, .ns-box.ns-visible {pointer-events: auto;}
.ns-close {width: 20px; height: 20px; position: absolute; right: 4px; top: 4px; overflow: hidden; text-indent: 100%; cursor: pointer; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.ns-close:hover, .ns-close:focus {outline: none;}
.ns-close::before, .ns-close::after {content: ''; position: absolute; width: 3px; height: 60%; top: 50%; left: 50%; opacity: 0.7; }
.ns-close:hover::before, .ns-close:hover::after {opacity: 1;}
.ns-close::before {-webkit-transform: translate(-50%,-50%) rotate(45deg); transform: translate(-50%,-50%) rotate(45deg);}
.ns-close::after {-webkit-transform: translate(-50%,-50%) rotate(-45deg); transform: translate(-50%,-50%) rotate(-45deg);}
[class^="ns-effect-"].ns-box.ns-hide, [class*=" ns-effect-"].ns-box.ns-hide {-webkit-animation-direction: reverse; animation-direction: reverse;}
.ns-effect-genie {
	box-shadow: 0 7px 6px rgba(0,0,0,0.2), 2px 4px 6px rgba(0,0,0,0.5);
}
.ns-effect-genie.ns-show, .ns-effect-genie.ns-hide {-webkit-animation-name: animGenie; animation-name: animGenie; -webkit-animation-duration: 0.4s; animation-duration: 0.4s;}

@-webkit-keyframes animGenie {
	0% { opacity:0; -webkit-transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1); -webkit-animation-timing-function: ease-in; }
	40% { opacity:0.5; -webkit-transform: translate3d(0,0,0) scale3d(0.02,1.1,1); -webkit-animation-timing-function: ease-out; }
	70% { opacity:0.6; -webkit-transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1); }
	100% { opacity:1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}
@keyframes animGenie {
	0% { opacity:0; -webkit-transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1); -webkit-animation-timing-function: ease-in; transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1); animation-timing-function: ease-in; }
	40% { opacity:0.5; -webkit-transform: translate3d(0,0,0) scale3d(0.02,1.1,1); -webkit-animation-timing-function: ease-out; transform: translate3d(0,0,0) scale3d(0.02,1.1,1); animation-timing-function: ease-out; }
	70% { opacity:0.6; -webkit-transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1); transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1); }
	100% { opacity:1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}
.ns-topleft {top: 30px; left: 30px;}
.ns-topright {top: 30px; right: 30px;}
.ns-bottomleft {bottom: 30px; left: 30px;}
.ns-bottomright {bottom: 30px; right: 30px;}

@media screen and (max-width: 25em) {
	.ns-box {max-width: none;}
    .ns-topleft {top: 10px; left: 10px; right:10px;}
    .ns-topright {top: 10px; left: 10px; right:10px;}
    .ns-bottomleft {bottom: 10px; left: 10px; right:10px;}
    .ns-bottomright {bottom: 10px; left: 10px; right:10px;}
}
