SetEnv IS_DEVELOPMENT   True
SetEnv IS_TEST          False
SetEnv IS_ACCEPTANCE    False
SetEnv IS_PRODUCTION    False

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}   !-d
RewriteCond %{REQUEST_FILENAME}   !-f

RewriteRule . index.php [L,QSA]